.main .video .title{
    font-weight: 450;
    font-size: 26px;
    color: #099;
    margin: 30px 0;
    padding-top: 30px;
 }
  .main .video .demo{
    color: #999;
    line-height: 2em;
    
    padding-bottom: 25px;
    font-size: 19px;
  }
  .main .video .board .frames{
    padding: 40px 35px;
    background-color :#F3F4F5;
  }
  .main .video .board{
    max-width: 980px;
    justify-content: space-between;
  }
   .main .video .system .hr{
     border-top: 5px solid #0cc;
     margin-top: 155px;
     margin-bottom: 55px;
   }
    .main .video .system .file{
      margin-bottom: 60px;
    }
    .main .video .system .file .media .iii{
      margin-right: 1.5rem!important;
    }
    .main .video .system .file .media{
      display: flex;
      align-items: flex-start;
    }
    .main .video .system .file .media .media-body .titless{
      font-weight: 450;
      font-size: 26px;
      color: #099;
    }
     .main .video .system .file .media .media-body .position{
      font-size: 1.1rem;
      color: #999;
     }
     .main .video .system .file .media .media-body .short{
       color: #999;
     }
     .main .video .system{
      margin-bottom: 60px;
     }
     .main .video .board .frames .smallframe .demoss{
       line-height: 1.8!important;
       color: #999;

     }
